body {
	background-color: #AABDC4;
	font-family: "Tahoma";
	margin-left: auto;
	margin-right: auto;
	padding: 200px auto auto 100px;
}

h2 {
	color: #394959;
	text-align: center;
	font-size: 30px;
}

span.error {
	color: #ff0000;
	font-weight: bold;
	font-size: 12px;
}
.buttonHolder{
    text-align: center;
}